<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Telefonos de emergencia (México):</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item href="tel:+5253371845">
          <ion-label> Unidad de Inteligencia Epidemiológica y Sanitaria</ion-label>
        </ion-item>
        <ion-item href="tel:+52911">
          <ion-label>Emergencias 911</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Más información:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item href="https://www.gob.mx/salud/documentos/nuevo-coronavirus">
          <ion-label>Página oficial del Gobierno de México</ion-label>
        </ion-item>
        <ion-item
          href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses">
          <ion-label>OMS (Organización mundial de la salud)</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Desarrollador:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item href="mailto:josemasri222@gmail.com">
          <ion-label>Jose Masri</ion-label>
        </ion-item>
        <ion-item href="mailto:josemasri222@gmail.com">
          <ion-label>Contactame</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>